<%= form_for @manager, html: {class: "padding-elemento-topo-pagina", id: "manager-form"} do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>
    
    <fieldset>
        <div class="form-group">
            <div class="row align-items-center text-center">
                <legend><%= t("manager_legend") %></legend>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2 offset-md-2 col-xs-12">
                    <%= f.label :email, class: "control-label align-middle no-margin-bottom" %>
                </div>
                <div class="col-md-6 col-xs-12">
                    <%= f.text_field :email, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2 offset-md-2 col-xs-12">
                    <%= f.label :first_name, class: "control-label align-middle no-margin-bottom" %>
                </div>
                <div class="col-md-6 col-xs-12">
                    <%= f.text_field :first_name, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2 offset-md-2 col-xs-12">
                    <%= f.label :last_name, class: "control-label align-middle no-margin-bottom" %>
                </div>
                <div class="col-md-6 col-xs-12">
                    <%= f.text_field :last_name, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2 offset-md-2 col-xs-12">
                    <%= f.label :password, class: "control-label align-middle no-margin-bottom" %>
                </div>
                <div class="col-md-6 col-xs-12">
                    <%= f.password_field :password, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2 offset-md-2 col-xs-12">
                    <%= f.label :password_confirmation, class: "control-label align-middle no-margin-bottom" %>
                </div>
                <div class="col-md-6 col-xs-12">
                    <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-12 col-xs-12 text-center">
                    <%= f.submit t("manager_submit"), class: 'btn btn-secondary' %>
                </div>
            </div>
        </div>
    </fieldset>

<% end %>